<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Feedback UI{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" integrity="sha384-+0q0t+W8cIzB2/6f+6oaP8pbx7Z+J8aW9U+XigrG5Q8f2PSJf1SUd7qjDv7j1yT2" crossorigin="anonymous" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
